{% extends "master.html.twig" %}

{% block title %}Creative Fund index{% endblock %}

{% block addhead %}{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-5">
        <div class="col-lg-7"  >
            
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/image/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/image/PhotobyFedericaCampanaroonUnsplash.jpg" class="d-block w-100" alt="...">
       <div class="carousel-caption d-none d-md-block" id="register4">
          <a href="/projectview/1.php" class="btn-outline-info">Back it</a>
          <h5>Magazine:The Life of Things</h5>
          <p>It is a independent magazine for fans of inspiring, personal, unexpected, highly familiar or utterly disregarded things. Back it if you want to see it become true.</p>
        </div>  
    </div>
    <div class="carousel-item">
      <img src="/image/44.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" id="register4">
          <a href="/projectview/1.php" class="btn-outline-info">Back it</a>
          <h5>Magazine:The Life of Things</h5>
          <p>It is a independent magazine for fans of inspiring, personal, unexpected, highly familiar or utterly disregarded things. Back it if you want to see it become true.</p>
        </div>  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

     
          <!--  <img class="img-fluid rounded" src="image/1.jpg" alt=""> -->
        </div>
        <!-- /.col-lg-8 -->
        
        <div class="col-lg-4">
          <h5 class="type-12 type-13-md dark-grey-500 text-uppercase mb3 maison-book bold">Featured</h5>
          <h1>Magizine:<br>The Life of Things</h1>
          <p>It is a independent magazine for fans of inspiring, personal, unexpected, highly familiar or utterly disregarded things. Back it if you want to see it become true.</p>
          <a class="btn btn-outline-info" href="index.php/back/1">Back it!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-dark my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">Creative Fund aims at helping independent creator to realize their dreams by crowdfunding.</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Arts:  Henrik Donnestad</h2>
              <p class="card-text">This project is about to take some financial help in order to concrete a series of abstract paints and calligraphy. My art is about the conflict between human creation-destruction and nature.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-secondary btn-sm">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Two</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-secondary btn-sm">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Three</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-secondary btn-sm">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    
    
  </body>



{% endblock %}
