<!DOCTYPE html>
<html>
    <head>    
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132742650-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132742650-1');
</script>

            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}{% endblock %} - /Creative Fund </title>
         {% block addhead %}
         {% endblock %}
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="author" content="CF">
    <meta charset="utf-8">
      
       <meta name="description" content="Creative Fund aims at helping independent creator to realize their dreams.">
       <meta name="keywords" content="crowdfunding, creation, creative, funding, independent, artist,writer">
       <link href="https://fonts.googleapis.com/css?family=Gaegu|Muli|Open+Sans" rel="stylesheet">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
             integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

       <link rel="stylesheet" href="styles.css" type="text/css" />

   

    <!-- Bootstrap core CSS -->
   

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">


    </head>
    <body>
        <div id="centeredContent">
       <div id="header">
            {% if sessionUser %}
                You are logged in as {{sessionUser.email}}, you can
                <a href="/logout">logout</a> or <a href="/articleadd">
                    post an article</a>
                {% else %}
                    You can <a href="/login">login</a> or<a href="/register"></a>.

                {% endif %}
            
        </div>
     
      
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index.php">Creative Fund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
      
              
            <li class="nav-item active">
              <a class="nav-link" href="/index.php">Explore project
                <span class="sr-only">(current)</span>
                
                
              </a>
            </li>
            
           <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="/index.php" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Explore project
          <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Publishing</a>
          <a class="dropdown-item" href="#">Arts</a>
          <a class="dropdown-item" href="#">Design</a>
          <a class="dropdown-item" href="#">Craft</a>
          <a class="dropdown-item" href="#">Photography</a>
          <a class="dropdown-item" href="#">Other</a>
        </div>
          </li>
            
            
            
            
            <li class="nav-item">
              <a class="nav-link" href="/index.php/projectadd">Create a project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projectadd">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projectadd.php">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


        
        {% block content %}
         
        
        
        
        {% endblock %}
        <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CreativeFund 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    </div>

<!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



</body>
</html>


 
