{% extends "master.html.twig" %}

{% block title %}
    Success - Project added
{% endblock %}

{% block content %}
<div class="container" style="height:800px">

      <!-- Heading Row -->
      <div class="row my-5">
        <div class="col-lg-7"  >
<p>Project added <a href="/project/{{projectId}}">Click here to view</a>.</p>
 
<div class="form-group">
   
      <label for="">Add rewards(required)</label><br>
      <a class="btn btn-outline-secondary btn-sm" href="rewardsadd" role="button">Add Rewards</a>
      <br>
      <br>
  </div>   
  </div>  
  </div>  
  </div>  

{% endblock %}
