{% extends "master.html.twig" %}

{% block title %}Create a project{% endblock %}
{% block addhead %}{% endblock %}
{% block content %}
   
    <div class="container">
        
        <br>
        <br>
         {% if errorList %}    
    <ul>
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

    <div class="row my-4">
     <h3>Create a project</h3>
     </div>

 <div class="row my-4">
<form method="post" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputTitle">Project Title</label>
      <input type="text" class="form-control" id="title" placeholder="required" name="title" value="{{v.title}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputIdea">idea in one line</label>
      <input type="text" class="form-control" id="idea" placeholder="required" name= "idea" value="{{v.idea}}">
    </div>
    </div>
 <div class="form-group">
      <label for="inputCategory">Category</label>
      <select id="inputCategory" class="form-control" name="category">
        <option selected value="Publishing" name="publishing">Publishing</option>
        <option value="Arts" name="arts">Arts</option>
        <option value="Craft" name="craft">Craft</option>
        <option value="Photography" name="photography">Photography</option>
        <option value=">Other" name="other">Other</option>
      </select>
    </div>
  <div class="form-group ">
    <label for="inputGoal">Goal</label>
    <input type="number" class="form-control" id="goal" name="goal" placeholder="$required" value="{{v.goal}}">
  </div>
  <div class="form-group">
    <label for="inputDuration">Duration</label>
    <input type="number" class="form-control" id="duration" name="duration" placeholder="number of days" value="{{v.duration}}">
  </div>
    
  <div class="form-group">
    <label for="inputDescription">Description(no more than 5000 words)</label>
    <textarea type="text" class="form-control" id="description" name="description" style="height:600px;width: 800px" value="{{v.description}}"></textarea>
  </div>
  <div class="form-group">
    <label for="inputStatus">Status</label><br>
  <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="statusfinished" name="status" value ="finished" class="custom-control-input" checked>
  <label class="custom-control-label" for="statusfinished">Finisihed</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="statusinprogress" name="status" value ="inprogress" class="custom-control-input">
  <label class="custom-control-label" for="statusinprogress">In progress</label>
</div>
    <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="statusonlyidea" name="status" value ="onlyidea" class="custom-control-input">
  <label class="custom-control-label" for="statusonlyidea">Only idea</label>
</div>
    </div>
    
    
  <div class="form-group">
   
      <label for="">Image(required)</label>
      <input type="file" class="form-control" id="image" name="image">
    </div>
 
    
 <!-- <div class="form-group">
   
      <label for="">Add rewards(required)</label><br>
      <a class="btn btn-outline-secondary btn-sm" href="rewardsadd" role="button">Add Rewards</a>
  </div> -->  <br>
   <input type="submit" value="Save" style="width: 110px; height:40px">
      </form>

  </div>

    </div>

  
</body>

{% endblock %}
