{% extends "master.html.twig" %}

{% block title %}{{p.title}}{% endblock %}

{% block addhead %}{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top: 6%">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="{{p.image}}" alt="" >
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>{{p.title}}</h1>
          <p><br />
              Goal: {{p.goal}}<br />
              <!--need to add creation date-->
              Duration: {{p.duration}}<br />
              Status: {{p.status}}<br />
              Category: {{p.categoryName}}<br />
          </p><br />
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0"> {{p.idea}} </p>
        </div>
    </div>

    <div class="radio">
      <label for="opt1"><input type="radio" name="reward{{p.rewardId}}" id="opt1">
          <div>
              {{p.rewardTitle}}<br/>
              $ <input type="text" name="donationAmount" /><br/><br/>
              <h5>Thanks for your support!</h5>
              A huge thank you for your help making this a reality!<br/><br/>
          </div>
      </label>
    </div>
            <div class="radio">
              <label><input type="radio" name="reward{{p.rewardId}}" id="opt2">
                    <div>
                      {{p.rewardTitle}}<br/>
                      ${{p.rewardAmount}} or more..<br/>
                      <h5>Thanks for your support!</h5>
                      A huge thank you for your help making this a reality!<br/><br/>
                      {{p.rewardDescription}}
                  </div>
              </label>
            </div>
    </div>
    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

{% endblock %}
