{% extends "master.html.twig" %}

{% block title %}Explore-{% endblock %}
{% block addhead %}{% endblock %}
{% block content %}
   
    <div class="container">
        
        <br>
        <br>
         

    <div class="row my-4">
     <h3>Explore:  {{c.categoryName}}</h3>
     </div>


  <div class="row"  >
       {% for a in p %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
             
            <img src="/uploads/{{a.imagePath}}" class="card-img-top" alt="...">
       
            <div class="card-body">
              <h2 class="card-title">{{a.categoryName}}: {{a.title}}</h2>
              <p class="card-text">{{a.idea}}</p>
              <p> By: {{a.firstName }} {{a.lastName}}</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-outline-secondary btn-sm">More Info</a>
            </div>
              
          </div>
        </div>
         {% endfor %} 
         
      </div>

         
    </div>


</body>

 {% endblock %}        


