{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}
{% block addhead %}{% endblock %}
{% block content %}
   
    <div class="container">

    <div class="row my-4">
     <h3>Login</h3>
     </div>

    <div class="form-group" >
        {% if error %}
            <p><font color="red">Invalid username or password</font></p>
        {% endif %}
        {% if m %}
            <p><font color="red">{{m}}</font></p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{u.username}}">
                </div>
            </div>
            <div class="row"><br/>
                <div class="col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name= "password"><br/>
                </div>
            </div><br/>
            <input type="submit" value="Login" style="width: 110px; height:40px">
        </div>
    </form>
</div>

    </div>

  
</body>

{% endblock %}

