{% extends "master.html.twig" %}

{% block title %}{{p.title}}{% endblock %}

{% block addhead %}{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top: 6%">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="{{p.image}}" alt="" >
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>{{p.title}}</h1>
          <p><br />
              Goal: {{p.goal}}<br />
              <!--need to add creation date-->
              Duration: {{p.duration}}<br />
              Status: {{p.status}}<br />
              Category: {{p.categoryName}}<br />
          </p><br />
          <a class="btn btn-primary btn-lg" href="/back/{{p.id}}">Back</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0"> {{p.idea}} </p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-12 mb-12">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">About the project</h2>
              <p class="card-text">{{p.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <!-- /.row -->

    </div>
    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>



{% endblock %}
