{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}
{% block addhead %}{% endblock %}
{% block content %}
   
    <div class="container">
        
    <br>
    <br>
    
    {% if errorList %}    
        <ul class="error">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="row my-4">
        <h3>
            {% if sessionUser %}Edit
            {% else %}Register
            {% endif %}
        </h3>
     </div>

    <div class="form-group" >
        {% if error %}
            <p><font color="red">Invalid username or password</font></p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{u.firstName}}">

                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{u.lastName}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{u.username}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{u.email}}">
                </div>
            </div>
            {% if sessionUser %}
            <div class="row"><br/>
                <div class="col-md-6">
                    <label for="confirmPassword">Password</label>
                    <input type="password" class="form-control inputTextCenter" id="password" name="password" placeholder="Required to make changes"><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="createPassword">New Password</label>
                    <input type="password" class="form-control inputTextCenter" id="newPassword" name="newPassword">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" class="form-control inputTextCenter" id="newPassword2" name="newPassword2"><br/>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-6">
                    <label for="createPassword">Create Password</label>
                    <input type="password" class="form-control inputTextCenter" name="createPassword" id="createPassword" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control inputTextCenter" name="confirmPassword" value=""><br />
                </div>
            </div><br/>
            {% endif %}
            <button type="submit" style="width: 110px; height:40px">
                {% if sessionUser %}Save
                {% else %}Register
                {% endif %}
            </button>
            </form>
        </div>
    </div>
</body>

{% endblock %}
