{% extends "master.html.twig" %}

{% block title %}Success - Reward added{% endblock %}

{% block content %}
<div class="container" style="height:800px">

      <!-- Heading Row -->
<div class="row my-5">
   <div class="col-lg-7"  >
<p>Reward added </p>




<div class="rewardsView">
   <div>Reward Title:  {{r.rewardTitle}} </div>
    <div>Description:  {{r.rewardDescription}}</div>
    <div>Reward Amount: {{r.rewardAmount}}</div><br>   
 
    </div>
    
   


 <a class="btn btn-outline-secondary btn-sm" href="/rewardsadd" role="button">Add Another Reward</a>
</div>

 </div>
       </div>
{% endblock %}