
{% extends "master.html.twig" %}

{% block title %}Add reward{% endblock %}
{% block addhead %}{% endblock %}
{% block content %}
   
<div class="container">
        <br>
        <br>
         {% if errorList %}    
    <ul>
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}
    <div>
     <h3>Add a reward</h3>
     </div>

     <div class="row my-5">
<form method="post" enctype="multipart/form-data">
 
    <div class="form-group">
      <label for="inputTitle">Reward Title</label>
      <input type="text" class="form-control" id="title" placeholder="required" name="rewardTitle" value="{{r.rewardTitle}}">
    </div>
    <div class="form-group ">
      <label for="inputamount">Pledge amount</label>
      <input type="number" class="form-control" id="idea" placeholder="$ Set a minimum pledge amount for this reward.(required)" name= "rewardAmount" value="{{r.rewardAmount}}">
    </div>
    
   
  <div class="form-group">
    <label for="inputDescription">Description(no more than 800 words)</label>
    <textarea type="text" class="form-control" id="rewardDescription" name="rewardDescription" placeholder="Describe this reward in more detail." 
              style="height:300px; width: 500px" value="{{r.rewardDescription}}"></textarea>
  </div>
  
    
  <div class="form-group">
   
   <input type="submit" value="Add reward" style="width: 110px; height:40px">
    
  </div>
  
</form>
    </div>
  </div>


</body>

{% endblock %}
